:root {
  --color-primary:   #d73953;
  --color-black:     #090909;
  --color-white:     #ffffff;
  --color-light-grey:#f3f3f3;
  --color-dark-grey: #353535;
  --text-color:      var(--color-black);

  /* Font stacks stored as custom properties */
  --font-family-base:  "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-family-title: "Helvetica Neue", Helvetica, Arial, sans-serif;

  /* Font sizes */
  --font-size-small:     1.2rem;
  --font-size-medium:    1.6rem;
  --font-size-large:     1.8rem;
  --font-size-xlarge:    2.3rem;
  --font-size-xx-large:  4.8rem;
}

.section-tagline,
.card-category {
  color: var(--color-primary);
}

html {
    font-size: 62.5%;
    /* Default font size */
}

body {
  color: var(--text-color);
    /* Base text uses body font stack  */
  font-family: var(--font-family-base);
  font-size: var(--font-family-medium);
}

a {
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  /* Headings use title font stack */
  font-family: var(--font-family-title);
}